.bg-color{
    background-color: coral;
}

.hove:hover{
           background-color: rgb(240, 191, 30);
           border: 2px solid red;
}

.textc{
    text-align: center;
    
    background-color:  coral;
}



.card-body:hover{
    background-color: coral;
    color: black;
    
}

.bgg{
    background-color: coral;
}

.hovert:hover{
    background-color: coral;
    
}

.scale:hover{
    transform:scalex(2)
}

.lef{
    margin-left:600px;
}