.bg-color{
    background-color: coral;
}

.hove:hover{
           background-color: rgb(240, 191, 30);
           border: 2px solid red;
}

.textc{
    text-align: center;
    
    background-color:  coral;
}



/* .card-body:hover{
    
    
} */

.bgg{
    background-color: coral;
    padding-bottom: 30px;
    
}


.lef{
    margin-left:600px;
}

.igh:hover{
           transform:skewY(3);
}

.mle{
    margin-left:90px;
}

.mre{
    margin-left: 20px;
}

.hov{
    text-align: center;
}

.mrc{
    margin-right: 2px;
}

.mrr{
    margin-left: 30px;
}

.serchmargin{
    margin-right: 100px;
}

.mrll{
    margin-left: 220px;
}

.mll{
    text-align: center;
}

.alig{
    text-align:  center;
    background-color:rgba(128, 128, 128, 0.39);
    margin-bottom: 0px;
    padding-bottom: 60px;
    padding-top: 20px;
}

.padd{
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: coral;
}

.paddb{
    padding-bottom: 50px;
}

.hos{
    padding-bottom: 40px;
    color: lightsalmon;
    
}
.paddbb{
    padding-bottom: 50px;
    background-color: #F2F2F2;
}

mark{
    background-color: yellow;
}

.h2c{
    background-color: coral;
}

.h2cc{
    background-color: coral;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.h2ccc{
    background-color: coral;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

